.input,
.label {
  &:hover {
    cursor: pointer;
  }
}

.input {
  --size-base: 18px;
  --size-sm: 26px;

  appearance: none;
  width: var(--size-base);
  height: var(--size-base);
  border: 4px solid #fff;
  outline: 2px solid var(--neutral-1);
  margin: 2px;
  background-color: #fff;

  &:checked {
    background-color: var(--primary-color);

    + .label {
      color: var(--primary-color);
    }
  }

  @media (min-width: $layout-breakpoint-sm) {
    width: var(--size-sm);
    height: var(--size-sm);
  }
}

.label {
  padding: 4px 4px 4px 12px;
  height: 100%;

  @media (min-width: $layout-breakpoint-sm) {
    padding: 4px 4px 4px 18px;
    font-size: 1.2rem;
  }
}
