.container {
  position: relative;
}

.input {
  height: 45px;
  width: 100%;
  padding: 0 60px 0 20px;
  border: 2px solid var(--neutral-1);
  border-radius: 8px;

  @media (min-width: $layout-breakpoint-sm) {
    font-size: 1.4rem;
    height: 68px;
  }
}

.icon {
  position: absolute;
  right: 20px;
  top: 50%;
  transform: translateY(-50%);
  fill: var(--neutral-2);
}
