.input {
  height: 45px;
  width: 100%;
  padding: 0 20px;
  border: 2px solid var(--neutral-1);
  border-radius: 8px;
  font-size: 1.1rem;

  @media (min-width: $layout-breakpoint-sm) {
    height: 68px;
  }
}
